html {
    height: 100%;
}

body {
    background-image: url('images/bg-intro-desktop.png');
    background-size: cover;
    background-color: hsl(0, 100%, 74%);
    font-family: "Popins", sans-serif;
    height: fit-content;
    min-height: 100%;
    
}

.flex-container {
    display: flex;
    flex-direction: row;
    border: 1px solid orange;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

.flex-left {
    border: 1px solid white;
    width: 40%;
}

#headline {
    font-size: 250%;
    color: white;
}
 
#first-p-left {
    font-size: 100%;
    line-height: 140%;
    color: white;
    opacity: 0.8;
}



.flex-right {
    width: 40%;
    border: 1px solid white;

   
}

.purple-rectangle {
    background-color: hsl(248, 32%, 49%);
    margin-bottom: 3%;
    border-radius: 10px;
    box-shadow: 0px 7px rgba(0, 0, 0, 10%);
}

.form-headline {
    display: flex;
    justify-content: center;
    align-content: center;
}

#free {
    color: white;
}

#there {
    color: hsl(246, 25%, 77%);

}

.white-rectangle {
    background-color: white;
    border-radius: 5px;
    padding: 5%;
    box-shadow: 0px 7px rgba(0, 0, 0, 10%);

}

.text-fields {
   text-align: center;
}

input {
   width: 85%;
   padding: 3%;
   padding-left: 5%;
   border: 1px solid rgb(214, 214, 214);
   border-radius: 5px;
}


#trial-button {
    color: white;
    margin: 0 auto;
    border: none;
    display: block;
    width: 93%;
    background-color: hsl(154, 59%, 51%);
    padding: 3%;
    box-shadow: 0.5px 4px hsla(154, 48%, 34%, 0.76);
    cursor: pointer;
    border-radius: 5px;
}

#trial-button:hover {
    background-color: hsl(154, 77%, 72%);
}

.form-footer {
    margin: 5%;
    font-size: 60%;
    text-align: center;
    color: hsl(246, 25%, 77%);
}

#terms {
    color: hsl(0, 100%, 74%);
}

p {
    display: inline;
}
